html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.clock {

  h1 {
    font-size: 3rem;
    margin: 0;
  }
}

.greeting {
  font-size: 3rem;
}
.user-name, .greeting {
  display: none;
}

.show {
  display: block;
}